:root {

--White: hsl(0, 0%, 100%);
--Lightgray: hsl(212, 45%, 89%);
--Grayishblue: hsl(220, 15%, 55%);
--Darkblue: hsl(218, 44%, 22%);

}

* {
    box-sizing: border-box;
}

    
         body{
            background-color: var(--Lightgray);     
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction:column;
            font-size: 15px;
            width: 100%; 
            height: 100vh;         
        }                          

        .card{
            background-color: var(--White);       
            border-radius: 1.1em;
            box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.1);            
            width: 440px;
            padding: 0.9rem;
            margin-bottom: 1rem;            
          }
        
        .disposition{
            
            text-align: center;        
            margin: auto;
            width: 100%;
    }
        img{
            border: 3px solid #0872ec87;
            display: block;
            margin: 0 auto;         
            border-radius: 0.8em;
            width: 400px;
                       
        }
        .header{
            font-family: 'Overpass', sans-serif;
            font-weight: 700;
    
    
        }
        .paragraph{
            font-family:'Outfit', sans-serif;
            font-weight: 400;
            color: var(--Grayishblue);
            text-align: center;
            margin: 1.6em 1.2em 1.6em 1.2em;
                    
          }
        
        .attribution{
            display: none;
        }
    
  